{% extends 'main/base_shablon.html' %}

{% block title %}
Список учеников
{% endblock %}

{% block test %}
Состав класса
{% endblock %}

{% block content %}


{% for el in tasks %}
<style>
.test {
padding: 10px
}
</style>
<div class="test">
<div class="h-100 p-5 bg-light border rounded-3">
<style>
    .white-space-pre-line {
  white-space: pre-line;
}
</style>
<div class="alert alert-warning mt-2">
     <div class="white-space-pre-line">
         <h3>{{ el.title }}</h3>
         <p>{{ el.task }}</p>
     </div>
    </div>
{% endfor %}

{% endblock %}