{% extends 'main/base_shablon.html' %}

{% block title %}
Уроки
{% endblock %}

{% block test %}
Расписание
{% endblock %}

{% block content %}

{% for el in tasks %}
<style>
 .white-space-pre-wrap {
  white-space: pre-wrap;
}
</style>
<div style="float: left; width: 50%; padding: 30px; line-height: 1em">

    <div class="alert alert-warning mt-2">
        <div class="white-space-pre-wrap">
            <h3>{{ el.title }}</h3>
            <p>{{ el.task }}</p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}